
.cmp-showproducts {
    padding: 10px;
    margin: 0 auto !important;
    .card {
        .card-img {
            padding: 10px;
            height: 170px;
            width: 170px;
            margin: 0 auto;
        }
        .card-body {
            text-align: center;
            .product-price {
                font-size: 16px;
                color: #388e3c;
                padding-top: 8px;
            }
        }
        .product-title {
            height: 70px;
            overflow: hidden;
        }
    }

    .products-maintitle {
        font-family: 'Open Sans Condensed',Arial,Helvetica,sans-serif;
        font-size: 38px;
        line-height: 1.3;
        font-weight: bold;
        color: #00338D;
        padding: 0;
        margin: 0;
        text-align: center;
    }   
}